body{
    font-family: 'Festive', cursive;
    font-family: 'Roboto Mono', monospace;

}
h1{
    font-size: 80px;
}
.h2{
    font-size: 60px;
}
.head{
    color:mediumpurple;
}

.orange{
    color: rgb(133, 53, 224);
}
.grey{
    color: rgb(150, 92, 205);
}
.flexible{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left:5% ; 
    padding-top: 5%;

}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(grey,blue);
    color:honeydew;
    font-weight: 700;
    padding: 10px,40px;
    border-radius:5px ;

}
.top-banner{
    background-image: url(img/multi-color-powder-explosion-white-background-colorful-dust-particles-splashing-138537941.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    
}
.blogs{
    background-image: url(img/bs.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 50%;
}
.experience-item{
    box-shadow: 10px 10px 50px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    

}
.inspire{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(#6b137c, #0a07c2) 30;
    border-image-slice: 1;
}
#developer{
    border-left: 7px solid;
    border-image: linear-gradient(#120a88, #198528) 30;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}